@model WebApiDoodle.Net.Http.Client.Model.PaginatedDto<PingYourPackage.API.Model.Dtos.ShipmentDto>

@{
    ViewBag.Title = "Home Page";
}
<h2>Shipments</h2>

@foreach (var shipment in Model.Items) {
}