<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="0.22.0-pre-20422-220" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="1.1.0-beta1-20503-278" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="1.1.0-beta1-20503-278" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="1.1.0-beta1-20503-278" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>